.todo{
  --padding: 20px;
  --radius: 4px;
  display: flex;
  flex-direction: column;
  width: 512px;
  height: 70vh;
}

@media screen and (max-width: 544px){
  .todo{
    height: 100vh;
    padding: 32px 16px;
    overflow: hidden;
  }
}

@media screen and (orientation: landscape) and (max-height: 544px) {
  .todo{
    height: 100vh;
    width: 100vw;
    padding: 32px;
    overflow: hidden;
  }
}