.todo{
  --padding: 20px;
  --radius: 4px;

  width: 512px;
  height: 70vh;
}

.todo__input-container{
  width: 100%;
  display: flex;
  background-color: var(--dark-1);
  padding: var(--padding);
  margin-bottom: 32px;
  border-radius: var(--radius);
}

.todo__input-container:focus-within{
  background-color: var(--focus-backgroud-color);
  outline: 2px solid var(--focus-color);
}

.todo__input{
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
}

.todo__list{
  background-color: var(--dark-1);
  border-radius: var(--radius);
  max-height: 100%;
  overflow-y: auto;
}

.todo__list::-webkit-scrollbar{
  width: 2px;
}

.todo__list::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 16px;
}

.todo__list::-webkit-scrollbar-thumb {
  background-color: var(--dark-2);
  border-radius: 16px;
}

.todo__list::-webkit-scrollbar-thumb:hover {
  background: var(--focus-color);
}