:root {
  --white: #f4f4f5;
  --white-1: #71717a;
  --dark: #18181b;
  --dark-1: #3f3f46;
  --dark-2: #52525b;
  --blue: #3b82f6;
  --red: #ef4444;
  --selection-color: #52525b;
  --highlight-color: #00000030;

  --bg: var(--dark);
  --text-color: var(--white);
  --focus-color: var(--blue);
  --focus-backgroud-color: #333339;
}

*,
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  color: var(--text-color);
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: var(--bg);
}